@import url('https://fonts.googleapis.com/css?family=Pacifico');

header {
  padding: 1em;
  margin: 0 1.5em;
  border-bottom: 1px solid #dde0dd;
}

header h1 {
  display: inline;
  font-family: 'Pacifico', sans-serif;
  padding-left: 15%;
  font-size: 3em;
}

header .add-podcast {
  margin: auto 0;
  position: absolute;
  right: 1em;
  top: 3em;
}

header button {
  font-size: 1em;
  padding: 0.4em;
  margin: 0 0.5em;
  font-weight: bold;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  background: linear-gradient(45deg, #dde0dd 25%, #c4c4c4);
  box-shadow: 3px 1.5px 1px #cecfce;
  border: 1px solid #adafad;
  cursor: pointer;
}

header button:active {
  background: linear-gradient(45deg, #c4c4c4 25%, #dde0dd);
}

header button:disabled {
  background: #bebebe;
  opacity: 0.7;
  cursor: default;
  color: #807f7f;
  box-shadow: 0 0 0;
}

header input {
  font-size: 1em;
  /* width: 0; */
  padding: 0.4em;
  margin: 0 0.5em;
}
